* {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 50;
  font-size: 30px;
}

h1 {
  font-family: monospace;
  font-size: 40px;
  color: rgb(190, 162, 189);
  margin: 10px;
}

#logo {
  display: flex;
  justify-items: center;
  height: 50px;
  width: 1000px;
  justify-content: center;
  margin: 10px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: "red";
}

#navbar {
  background-color: rgb(190, 162, 189);
  background-size: cover;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.p5Canvas {
  display: flex;
}
#score {
  width: 30;
  height: 50;
  margin: 20px;
}

#level {
  width: 20;
  height: 100;
  margin: 20px;
}

#game {
  display: inline-block;
  position: relative;
  text-align: center;
}

#gameState {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  align-items: center;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 5px black;
  -webkit-border-radius: 40px;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 700px;
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 0;
  background: #88b7d5;
  border: 2px solid #c2e1f5;
  padding: 5px;
}
#gameState:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 43px solid transparent;
  border-left-color: #88b7d5;
  border-right: 0;
  border-bottom: 0;
  margin-top: -21.5px;
  margin-right: -43px;
}

body {
  width: 1000;
}
